header.header.container
  a.skip(href="#main") Skip to content
  a.logo-wrap.page-scroll(href='/')
    img.logo(src='img/logo-sm.png')
  button#menu-toggle.toggle
  nav#menu
    a(href='index.html') Download
    a(href='features.html') Features
    a(href='about.html') About
    a(href='partners.html') Partners
    a(href='contact.html') Contact
    .container.download
      a.badge(href="https://itunes.apple.com/us/app/stem-mx/id1231594315?mt=8")
        img(src="img/app-store-badge.svg", alt="Download on the App Store")
      a.badge(href="https://play.google.com/store/apps/details?id=com.stempartnersFoundation.stemmx&hl=en")
        img(src="img/google-play-badge.svg", alt="Get it on Google Play")