header.header.container
  a.skip(href="#main") Skip to content
  a.logo-wrap.page-scroll(href='/')
    img.logo(src='img/logo-sm.png')
  button#menu-toggle.toggle
  nav#menu
    a(href='/index.html') Download
    a(href='/features.html') Features
    a(href='/about.html') About
    a(href='/stories.html') Stories
    a(href='/contact.html') Contact
    a(href='/partners.html') Partners
    .container.download
      a.badge(href="/bleh")
        img(src="/img/app-store-badge.svg", alt="Download on the App Store")
      a.badge(href="/bleh")
        img(src="/img/google-play-badge.svg", alt="Get it on Google Play")