extends _layout

block content
  section.hero
    img.hero-img(src="img/stem-top-logo.png")
  section.curve.curve-bottom
    .container.row
      h5.col.w100.text-center STEM MX connects teachers and skilled volunteers.
    .container.medium.row.text-center.text-blue
      p
        | STEM MX is an industry effort to help teachers give students the learning experiences they’ll need for the jobs of&nbsp;tomorrow.
      p
        | You can support this effort by building a STEM MX profile, including what you teach or mentor.  Then you can create NEED or OFFERING listings, which could&nbsp;include:
    .container.small
      .list-offerings
        img(src="/img/img-about-1.png").img-about-1
        ul
          li Curriculum or subject support
          li Project and event support
          li Supplies and resources
          li Industry tours
          li Guest lectures
          li Work-based learning opportunities
          li Etc.
  section.bg1
    .container.medium.row
      .col.w50.v-margin-large
        p
          | Listings appear on the home screen, and can be searched by subject, grade-level or&nbsp;location.
        p
          | STEM MX is designed to build relationships between teachers and skilled volunteers. It’s free to users, but restricted to those 18 years and&nbsp;older.
        p
          | Corporate and education partners can download the activity data of their&nbsp;employees.
        h4.v-margin-medium
          | With thousands of skilled volunteers and teachers working together, we can discover and nurture the innate talents of every&nbsp;child.
