extends _layout

block content
  section.hero
    img.hero-img(src='img/stem-top-logo.png')
  section.curve
    .container.small.row
      h2.col.w100.text-center.v-margin Contact Us
      form.contact-form.text-center.v-margin-medium
        input#name(placeholder='Full Name')
        input#email(type='email', placeholder='Email')
        textarea#message(placeholder='Message', rows=5)
        button.btn.v-margin Submit

