extends _layout

block content
  section.hero-features
    .container.small
      .row
        .col.w60
          .feature-set
            .text-center
              h2
                | 9,800,000
                br
                span.jobs Jobs
              p
                | That’s how many #[strong STEM jobs] will exist in the U.S. by 2024.
                sup *
              p
                small
                  | * U.S. Bureau of Labor Statistics
            hr.divider
            p.highlight.text-right Between 2017&ndash;2027 in the U.S STEM jobs will&nbsp;grow #[span.text-red.text-light 13%]
            hr.divider
            .v-margin
              .growth
                .img-sprite.computing
                span.text-lrg.text-center 14%
                span Computing
              .growth
                .img-sprite.engineering
                span.text-lrg.text-center 7%
                span Engineering
              .growth
                .img-sprite.advmanufacturing
                span.text-lrg.text-center 12%
                span Advanced #[br] Manufacturing
            hr.divider
            h4.text-center All other jobs will grow&nbsp;#[span.text-red 9%]
            hr.divider
            p.text-center
              | Median earnings in USA STEM jobs are #[span.text-red $38.85/hour]
              br
              | All other jobs are $19.30/hour
            hr.divider
  section.curve.curve-bottom
    .container.small.content-question
      .row
        .col.w50
          p Will students be ready for these high-skilled, high-paying jobs?
          p.text-blue If teachers and industry volunteers work together they will.
  section#download.bg-feature-1
    .container.small.content-download
      .row
        .col.w50
          h5.text-white Download STEM MX
          p Create your profile
          p List your skills-subjects-events
          p Connect
          p Collaborate
          p Inspire
        .col.w50
          #iphone-features.iphone-layout.device-container.v-margin
            .device-mockup.iphone6_plus.portrait.white
              .device
                .screen
                  img.img-responsive(src='img/app-screen-1.jpg', alt='')
          div.text-center.v-margin
            a.badge(href="/bleh")
              img(src="/img/app-store-badge.svg", alt="Download on the App Store")
            a.badge(href="/bleh")
              img(src="/img/google-play-badge.svg", alt="Get it on Google Play")
  section#beta.hero.text-white
    .container.medium
      .row
        .col.w100.text-center
          h3.beta-heading Beta Release
          p STEM MX is brand new and the database of teachers and volunteer profiles may not be big enough at this time to complete a successful match. Don’t give up! Spread the word and get your associates and colleagues to&nbsp;register.
          p If you’d like to involve your company, school or organization, please contact us for marketing&nbsp;materials. 


