extends _layout

block content
  section.hero-features
    .row
      .col.w40
        p.text-center
          | 9,800,000
          br
          | Jobs
        p.text-center That’s how many STEM jobs will exist in the U.S. by 2024.<sup>*</sup>
        small
          | * U.S. Bureau of Labor Statistics
