extends _layout

block content
  section.hero-features
    .container.small
      .row
        .col.w60
          .feature-set
            .text-center
              h2
                | 9,800,000
                br
                span.jobs Jobs
              p
                | That’s how many #[strong STEM jobs] will exist in the U.S. by 2024.
                sup *
              p
                small
                  | * U.S. Bureau of Labor Statistics
            hr.divider
            p.highlight.text-right Between 2017&ndash;2027 in the U.S STEM jobs will&nbsp;grow #[span.text-red.text-light 13%]
            hr.divider
            .v-margin
              .growth
                .img-sprite.computing
                span.text-lrg.text-center 14%
                span Computing
              .growth
                .img-sprite.engineering
                span.text-lrg.text-center 7%
                span Engineering
              .growth
                .img-sprite.advmanufacturing
                span.text-lrg.text-center 12%
                span Advanced #[br] Manufacturing
            hr.divider
            h4.text-center All other jobs will grow&nbsp;#[span.text-red 9%]
            hr.divider
            p.text-center
              | Median earnings in USA STEM jobs are #[span.text-red $38.85/hour]
              br
              | All other jobs are $19.30/hour
            hr.divider
  section.curve
    .container.medium
      p Will students be ready for these high-skilled, high-paying jobs?
      p.text-blue If teachers and industry volunteers work together they will.
