footer
  .container.text-center
    small © 2016 Start Bootstrap. All Rights Reserved.
    ul.nav-list
      li
        a(href='#') Privacy
      li
        a(href='#') Terms
      li
        a(href='#') FAQ