header.header.container
  a.logo-wrap.page-scroll(href='#page-top')
    img.logo(src='img/logo-sm.png')
  nav
    ul.nav-list
      li
        a.page-scroll(href='#download') Download
      li
        a.page-scroll(href='#features') Features
      li
        a.page-scroll(href='#contact') Contact