extends _layout

block content
  section.hero
    img.hero-img(src='img/stem-top-logo.png')
  section.curve
    .container.small.row
      h5.col.w100.text-center.v-margin-medium
        | The STEM Partners Foundation was formed by the STEM Utah Industry Coalition with the support of the Utah Technology Council. It was created to support teachers in preparing a more vibrant STEM skilled workforce.
  section.container.medium.row.v-margin-medium
    .col.w40
      #partner-device.device-container
        .device-mockup.iphone6_plus.portrait.white
          .device
            .screen
              img.img-responsive(src='img/app-screen-2.jpg', alt='')
    .col.w60
      p
        | In 2014 the Coalition launched the Curiosity Unleashed media campaign to promote STEM education. This lead to the STEM Mentor Exchange mobile app, with the help of executives and engineers from Dell-EMC, Comcast, Adobe, Pluralsight, IM Flash and Boeing.
      p
        | Today the STEM Partners Foundation is joined by many other companies, educational institutions and organizations in and outside of Utah, including:
      p
        img.img-responsive(src='img/partners.png', alt='partners')
