extends _layout

block content
  section.hero-stories
    .container.medium.row
      .col.w100.v-margin-large
        h2 Discover the Talents of Every Child
        p STEM MX Innovator’s Log
  section.story.curve
    .container.small
      .row
        .col.w40
          img.profile-img(src="/img/teacher1.jpg")
        .col.w60
          h5.profile-heading Mark Smith
          p
            | Math Teacher
            br
            | East High, Salt Lake City, Utah
  section.story.curve
    .container.small
      .row
        .col.w40
          img.profile-img(src="/img/teacher1.jpg")
        .col.w60
          h5.profile-heading Mark Smith
          p
            | Math Teacher
            br
            | East High, Salt Lake City, Utah