.bg1 {
  background: url('/img/bg1.jpg') left top;
  background-size: 200% 100%;
  @media screen and (min-width: 768px) {
    background-position: center;
    background-size: cover;
  }
}
.list-offerings {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1.5rem 0;
  @include desktop {
    flex-direction: row;
  }
}
.img-about-1 {
  display: block;
  height: auto;
  margin: 1rem 2rem;
  max-height: 150px;
  max-width: 150px;
  width: auto;
}