$iphone-offset: 15rem;

.hero-index {
  background: url("../img/overlay-stem.png") bottom center/100% no-repeat, url("../img/bg-index.jpg") center/cover, #00B9F0;
  padding: 1rem 0 2.5rem;
  @include desktop { padding: 2rem 0 $iphone-offset; }
}

.content-index { padding: 1rem 0; }

#play {
  background: transparent;
  border: none;
  display: none;
  left: calc(50% - 30px); // half of svg size
  padding: 0;
  position: absolute;
  text-transform: uppercase;
  top: -(73px - 30px + 13px); // button size - (half of svg size) + text height
  &:active { transform: translateY(3px); }
  svg { display: block; }
}

#iphone-index {
  margin-top: -($iphone-offset * .85);
  display: none;
  @include desktop { display: block; }
}