.text-center {
  text-align: center;
}
.text-light {
  font-weight: 300;
}

.v-margin {
  margin-top: 1rem;
  margin-bottom: 1rem;
  &-medium {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  &-large {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}