.text-center { text-align: center; }
.text-right { text-align: right; }
.text-light { font-weight: 300; }
.text-lrg { font-size: 2rem; }
.text-white { color: $white; }
.text-blue { color: $blue; }
.text-red { color: $red; }

.v-margin {
  margin-top: 1rem;
  margin-bottom: 1rem;
  &-medium {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  &-large {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 700px;
  &-medium { max-width: 850px; }
  &-large { max-width: 1170px; }
}

a.skip {
  background-color: $white;
  position: absolute;
  top: .75rem;
  left: -100000px;
  z-index: 1;
  &:focus { left: .75rem; }
}