@import 'minireset.css/minireset.sass';
@import 'grid';
@import 'util';

// Colors
$white: #fff;
$grey: #F5F5F5;

:root { font-size: 18px; }
body {
  color: #002056;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
h1 { font-size: 2rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.6rem; }
h4 { font-size: 1.4rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1rem; }
h1, h2, h3, h4, h5, h6 {
  letter-spacing: 1px;
  line-height: 1.1;
  margin: 1.1rem 0;
}
p { margin-top: 1rem; }
ul { list-style: disc; }
footer {
  padding: 15px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1170px;
  &.medium {
    max-width: 850px;
  }
  &.small {
    max-width: 700px;
  }
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,.1);
  justify-content: space-between;
  height: 3rem;
  .logo-wrap { line-height: 0; }
  .logo {
    max-width: 100px;
    position: relative;
  }
}

ul.nav-list li {
  display: inline-block;
  font-size: .7rem;
  font-weight: 200;
  letter-spacing: 2px;
  margin: 0 15px;
  text-transform: uppercase;
  a {
    color: inherit;
    text-decoration: none;
  }
}

.hero {
  background-color: #002055;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0 75px;
}

.hero-img {
  max-width: 280px;
}

#partner-device,
.iphone-layout {
  max-width: 320px;
  margin: 0 auto;
}

$curve-size: 2.5vmax;
.curve, .curve-bottom {
  background-color: $white;
  position: relative;
}
.curve::before,
.curve-bottom::after {
  content: '';
  display: block;
  height: $curve-size;
  background: url('data:image/svg+xml;charset=utf-8,<svg width="1425" height="56" xmlns="http://www.w3.org/2000/svg"><path d="M.6 56C201.06 20.75 446.88 0 712.5 0s511.45 20.75 711.9 56H.6z" fill="#{$white}" fill-rule="evenodd"/></svg>') center center;
  background-size: 100% $curve-size;
  position: absolute;
  width: 100%;
}
.curve::before { top: -$curve-size; }
.curve-bottom::after {
  bottom: -$curve-size;
  transform: rotate(180deg);
}

.contactFormInput {
  height: 40px;
  width:30%;
  border: solid 1px #00b9f1;
}

.badge {
  display: inline-block;
  margin-right: 1rem;
  margin-top: 1rem;
  > img { height: 40px; }
}

// Page specific styles
@import 'index';
@import 'about';
@import 'stories';