// Colors
$white: #fff;
$grey: #F5F5F5;
$green: #8CC63F;
$blue: #00B9F0;
$blue-alt: rgba(#002056, .95);
$red: #EC1A3A;
$desktop-width: 768px;

@mixin desktop {
  @media screen and (min-width: #{$desktop-width}) {
    @content;
  }
}

@import 'minireset.css/minireset.sass';
@import 'grid';
@import 'util';

:root { font-size: 18px; }
body {
  color: #002056;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
h1 { font-size: 2rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.6rem; }
h4 { font-size: 1.4rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1rem; }
h1, h2, h3, h4, h5, h6 {
  letter-spacing: 1px;
  line-height: 1.1;
  margin: 1.1rem 0;
}
p { margin-top: 1rem; }
ul { list-style: disc; }
input,
input[type="text"],
input[type="email"],
textarea {
  border: solid 1px #00b9f1;
  display: block;
  font-size: 1rem;
  margin: .5rem 0;
  padding: .5rem;
  width: 100%;
}
footer {
  padding: 15px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.btn {
  background-color: $green;
  border: none;
  color: $white;
  font-size: 1rem;
  padding: .5rem 1.5rem;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1170px;
  &.medium {
    max-width: 850px;
  }
  &.small {
    max-width: 700px;
  }
}

.hero {
  background-color: #002055;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0 75px;
}

.hero-img {
  max-width: 280px;
}

#partner-device,
.iphone-layout {
  max-width: 320px;
  margin: 0 auto;
}

$curve-size: 2.5vmax;
.curve, .curve-bottom {
  background-color: $white;
  position: relative;
}
.curve::before,
.curve-bottom::after {
  content: '';
  display: block;
  height: $curve-size;
  background: url('data:image/svg+xml;charset=utf-8,<svg width="1425" height="56" xmlns="http://www.w3.org/2000/svg"><path d="M.6 56C201.06 20.75 446.88 0 712.5 0s511.45 20.75 711.9 56H.6z" fill="#{$white}" fill-rule="evenodd"/></svg>') center center;
  background-size: 100% $curve-size;
  position: absolute;
  width: 100%;
}
.curve::before { top: -$curve-size; }
.curve-bottom::after {
  bottom: -$curve-size;
  transform: rotate(180deg);
}

.badge {
  display: inline-block;
  margin-right: 1rem;
  margin-top: 1rem;
  > img { height: 40px; }
}

@import 'header';

// Page specific styles
@import 'index';
@import 'features';
@import 'about';
@import 'stories';
@import 'contact';